.card-product {
    flex: 1 150px;
    margin: 10px 5px 5px 5px;
    padding: 2px 5px 2px 5px;
}
.btn-comprar{
    width: 100%;
}
footer {
    padding: 10px 10px 0 10px;
}
.text-color{
    color: white;
}